.border_bg {
    border-top: 2px solid #F9B720;
    border-bottom: 2px solid #F9B720;
    border-left: 1px solid #F9B720;
    border-right: 1px solid #F9B720;
}

#tabs {
    height: 35px;
    margin-top: auto;
}

.tab-selected{
    background-color: #F9B720;
    color: black;
}

.allButtons{
    height: 35px;
}
