<ion-content>
  <ion-tabs class="ion-no-padding" class="tabs-icon-top tabs-positive">
    <ion-tab-bar slot="bottom" class="allButtons" >
      <ion-tab-button  tab="rate" class="border_bg" >
        <ion-label>Rate</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cost" class="border_bg">
        <ion-label>Cost</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="calculate" class="border_bg">
        <ion-label>Cal.</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="seedmaster" class="border_bg">
        <ion-label>SeedMaster</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>