#login-bg {
    margin-top: -5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #424244;  
    // background-color: rgba(66, 66, 68, 0.5%);  
    // opacity: 0.5;
}

#logo{
    height: 30px;
    width: auto;
}

#bg_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(/assets/bg.png);
}

#input{
    height: 50px;
    width: 100%;
    border: 2px solid #F9B720;
    background-color: white;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10dp;
    text-align: left;
}

#button{
    width: auto;
    height:45px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-left: 75px;
    margin-right: 75px;
    background-color: #F9B720;
}

#icon_setting{
    height: 28px;
    width: 28px;
}

#tabs {
    height: 35px;
    width: auto;
    margin-top: auto;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.border_bg {
    border-top: 2px solid #F9B720;
    border-bottom: 2px solid #F9B720;
    border-left: 1px solid #F9B720;
    border-right: 1px solid #F9B720;
}
.alert-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}
.warning-alert {
    .alert-wrapper {
        background: ion-color(warning);
    }
}
.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-ios {
    top: 35% !important; 
    left: 20% !important;
    transform: translate(-50%, -50%) !important;
    position: absolute !important;
}