<ion-content>
  <div id="bg_img">

    <ion-row>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="8">
        <div>
          <img id="logo" src="/assets/logo.png">
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <img id="icon_setting" (click)="settingsPage()" src="/assets/setting.png">
        </div>
      </ion-col>
    </ion-row>
<form (ngSubmit)="onClick()" autocomplete="off">
  <ion-row>
    <ion-col size="12" style="margin-top: 20px;">
      <div id="login-bg">
        <ion-input id="input" type="PASSWORD" [(ngModel)] = "old_password" name="old_password" placeholder="Old Password" ></ion-input>   
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div id="login-bg">
        <ion-input id="input" type="PASSWORD" placeholder="New Password" [(ngModel)] = "new_password" name="new_password" ></ion-input>   
      </div>
    </ion-col>
  </ion-row>
 <ion-button id="button" class="ion-margin"  type="submit" expand="full" class="btn" color="#F9B720" style="margin-top: 3px;">CHANGE PASSWORD</ion-button>
</form>
  <ion-tabs id="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="border_bg">
        <ion-label>Rate</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="speakers" class="border_bg">
        <ion-label>Cost</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" class="border_bg">
        <ion-label>Cal.</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about" class="border_bg">
        <ion-label>SeedMaster</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</div>
</ion-content>
